@use "abstracts/variables" as v;
@use "abstracts/mixins" as m;

body {
  font-family: v.$primaryFont;
  font-size: 20px;
}

.h1,
h1 {
  @include m.adaptiveProperty("font-size", 72, 56);
  line-height: 1.5;
  font-weight: 700;
}
.h2,
h2 {
  @include m.adaptiveProperty("font-size", 56, 32);
  line-height: 1.5;
  font-weight: 700;
}
.h3,
h3 {
  @include m.adaptiveProperty("font-size", 48, 28);
  line-height: 1.5;
  font-weight: 700;
}
.h4,
h4 {
  @include m.adaptiveProperty("font-size", 36, 20);
  line-height: 1.5;
  font-weight: 700;
}

.p,
p {
  font-size: 20px;
  line-height: 1.8;
}
.p2 {
  font-size: 16px;
  line-height: 1.6;
}
