<section class="container">
  <header class="top-bar">
    <app-search-bar (formEmitter)="onSearchChange($event)"
      [searchDescriptionMessage]="'Search by game name'"></app-search-bar>
  </header>

  <main class="main games">
    <app-loader *ngIf="isLoaderActive"></app-loader>
    <div class="games__inner" *ngIf="!isLoaderActive">
      <div class="games__cards">
        <app-game-card class="games__item" *ngFor="let game of (gamesRes?.games ?? []) |
         paginate: {itemsPerPage: gameItemsPerPage, currentPage, totalItems: gamesRes?.count}" [game]="game"
          (cardEmitter)="searchGames()"></app-game-card>
      </div>
      <pagination-controls class="games__pagination pagination"
        (pageChange)="pageChanged($event)" [autoHide]="true"></pagination-controls>
      <div *ngIf="!gamesRes?.games?.length">There are not any results 😅</div>
    </div>
  </main>

  <div class="side-bar">
    <app-range-slider [disabled]="isLoaderActive" [maxValue]="maxPriceInput" [currentInputValue]="currentSearchPrice"
      (formEmitter)="onRangeSliderChange($event)"></app-range-slider>
    <app-checkbox-group [disabled]="isLoaderActive" [checkboxesDataInput]="tagsInput"
      (formEmitter)="onCheckboxGroupChange($event)">
    </app-checkbox-group>
  </div>
</section>
