@import "abstracts/variables";

.container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  height: 100%;
  display: grid;
  grid-template-areas:
    "top-bar top-bar top-bar side-bar"
    "main main main side-bar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.top-bar {
  grid-area: top-bar;
}

.main {
  position: relative;
  grid-area: main;
}

.games {
  // .games__inner

  &__inner {
    display: grid;
    gap: 20px;
  }

  // .games__cards
  &__cards {
    @media (min-width: $tabletP1) {
      column-count: 2;
      column-gap: 20px;
    }
  }

  // .games__item

  &__item {
    display: block;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  // .games__pagination
  &__pagination {
    display: block;
    margin: 0 auto;
  }
}

.side-bar {
  align-self: start;
  position: sticky;
  top: 20px;

  max-height: calc(100vh - 10px);
  overflow-y: auto;
  padding-bottom: 20px;
  box-sizing: border-box;

  grid-area: side-bar;
  display: grid;
  gap: 20px;
  align-content: flex-start;
}
