@use "../user-horizontal-card/user-horizontal-card.component";
@import "abstracts/variables";

.user-horizontal-card {
  font-weight: 700;
  background-color: $primaryColor;
  // .user-horizontal-card__status
  &__status {
    justify-self: center;
  }
}
