<form *ngIf="loginForm" [formGroup]="loginForm" class="container border form" (ngSubmit)='submitFrom()'>
  <div class="form__main">
    <h3 class="form__title">Log in</h3>
    <h5 class="form__subtitle" style="color: red;" *ngIf='serverErrorMessage'>
      {{serverErrorMessage}}
    </h5>
    <label class="form__field field"
      [ngClass]="{'field--error': loginForm.get('email')?.errors && loginForm.get('email')?.touched}">
      <span class="field__title">Email</span>
      <input type="email" formControlName='email'>
      <span class="field__error" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
        Email is invalid
      </span>
    </label>
    <label class="form__field field"
      [ngClass]="{'field--error': loginForm.get('password')?.errors && loginForm.get('password')?.touched}">
      <span class=" field__title">Password</span>
      <input type="password" formControlName='password'>
      <span class="field__error"
        *ngIf="loginForm.get('password')?.errors?.stringLength && loginForm.get('password')?.touched">
        {{loginForm.get('password')?.errors?.stringLength.getErrorMessage('password')}}
      </span>
    </label>
  </div>
  <div class="form__footer">
    <a [routerLink]="[ '/', routerUrl.auth.baseUrl, routerUrl.auth.pages.register ]" class="btn">Register</a>
    <button type="submit" class="btn btn--primary" [disabled]="!loginForm.valid || loginForm.disabled">Login</button>
  </div>
</form>
