<header *ngIf="isAuthenticated | async" class="header">
  <div class="header__container container">
    <a class="header__logo" [routerLink]="['/']">
      <img src="assets/game-store-logo.svg" alt="logo">
      <span class="header__logo-title">
        <span>mini</span>
        <span>Game</span>
        <span>Store</span>
      </span>
    </a>
    <nav class="header__nav">
      <ul>
        <li *ngFor="let navLink of navLinks">
          <a [routerLink]="navLink.url" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{navLink.title}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__auth">
      <button (click)="logout()" class="btn">
        Sing out
      </button>
    </div>
  </div>
</header>
