<header *ngIf="isAuthenticated | async" class="header">
  <div class="header__container container">
    <a class="header__logo" [routerLink]="['/']">
      miniGameStore
    </a>
    <nav class="header__nav">
      <ul>
        <li *ngFor="let navLink of navLinks">
          <a [routerLink]="navLink.url" routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }">
            {{navLink.title}}
          </a>
        </li>
      </ul>
    </nav>
    <div class="header__auth">
      <a [routerLink]="" (click)="logout()" class="btn">
        Sing out
      </a>
    </div>
  </div>
</header>
