@import "abstracts/variables";

.header {
  padding: 20px 0;
  background-color: $primaryColor;
  border-bottom: 2px solid $black;

  // .header__logo

  &__logo {
    display: flex;
    align-items: center;

    font-weight: 700;
    font-size: 30px;
    img{
      margin-right: 8px;
      width: 100px;
      height: 100px;
    }
  }

  // .header__logo-title

  &__logo-title{
    display: flex;
    flex-direction: column;
  }

  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .header__nav

  &__nav {
    margin: 0 40px;

    ul {
      display: flex;
    }

    li {
      font-size: 24px;
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    a {
      &.router-link-active {
        color: $brightRose;
      }
    }
  }

  // .header__auth

  &__auth {
  }
}
