@import "abstracts/variables";

.container {
  padding-top: 20px;
  padding-bottom: 20px;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 20px;
}

.main {
  flex-grow: 1;
}

.users {
  // .users__inner

  &__inner {
  }

  // .users__table

  &__table {
    width: 100%;
  }

  // .users__pagination

  &__pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

