<section class="container">
  <header class="header">
    <app-search-bar (formEmitter)="onSearchChange($event)"
      [searchDescriptionMessage]="'Search by username'"></app-search-bar>
  </header>

  <main class="main users">
    <app-loader *ngIf="isLoaderActive"></app-loader>
    <div class="users__inner" *ngIf="!isLoaderActive">
      <table class="users__table border">
        <thead>
          <user-table-heading></user-table-heading>
        </thead>
        <tbody>
          <user-table-record *ngFor="let user of (usersRes?.users ?? []) | paginate:
          {itemsPerPage: usersPerPage, totalItems: usersRes?.count ?? 0, currentPage }" [user]="user"
            (reloadRequestEmitter)="searchUsers()">
          </user-table-record>
        </tbody>
      </table>
      <pagination-controls class="users__pagination pagination" (pageChange)="pageChanged($event)" [autoHide]="true">
      </pagination-controls>
      <div *ngIf="!usersRes?.users?.length">There are not any results 😅</div>
    </div>
  </main>
</section>
