<article class="user-horizontal-card border">
  <div class="user-horizontal-card__name">
    {{user.username}}
  </div>
  <div class="user-horizontal-card__email">
    {{userEmail ? userEmail : '--'}}
  </div>
  <div class="user-horizontal-card__birthday">
    {{userBirthday ? userBirthday : '--'}}
  </div>
  <div class="user-horizontal-card__status">
    <ng-container *ngIf="!user?.status">
      <button class="btn btn--small" (click)="requestFriendship()" [disabled]="isCardDisabled">
        Add to friends
      </button>
    </ng-container>

    <ng-container *ngIf="user?.status === friendshipStatus.ACCEPTED">
      <button class="btn btn--small" (click)="deleteFriendship()" [disabled]="isCardDisabled">
        Delete from friends
      </button>
    </ng-container>

    <ng-container *ngIf="user?.status === friendshipStatus.PENDING">
      <button class="btn btn--small" (click)="acceptFriendship()" [disabled]="isCardDisabled">
        Accept friendship
      </button>
      <button class="btn btn--small btn--primary" (click)="rejectFriendship()" [disabled]="isCardDisabled">
        Reject friendship
      </button>
    </ng-container>

    <ng-container *ngIf="user?.status === friendshipStatus.APPLIED">
      <span class="highlighted">
        Applied
      </span>
    </ng-container>

    <ng-container *ngIf="user?.status === friendshipStatus.REJECTED">
      <span class="highlighted highlighted--error">
        Rejected
      </span>
    </ng-container>

    <ng-container *ngIf="user?.status === friendshipStatus.DELETED">
      <span class="highlighted highlighted--error">
        Deleted
      </span>
    </ng-container>
  </div>
</article>
