.user-horizontal-card {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas: 'n n e e b b s s s';
  padding: 12px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 4px;

  // .user-horizontal-card__name

  &__name {
    grid-area: n;
  }

  // .user-horizontal-card__email

  &__email {
    grid-area: e;
  }

  // .user-horizontal-card__birthday

  &__birthday {
    grid-area: b;
  }

  // .user-horizontal-card__status

  &__status {
    justify-self: end;
    grid-area: s;
    display: flex;
    & > .btn {
      padding: 6px 4px;
      &:not(:last-child) {
        margin-right: 12px;
      }
    }
  }
}
